{% extends 'base.html.twig' %}

{% block title %}Profs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <h1>Ajouter un élève</h1>

    <h2>To do : Ajouter les élèves d'une classe</h2>
    <p>Créer un formulaire avec les champs :</p>
    <ul>
        <li>nom</li>
        <li>prénom ?</li>
    </ul>
    
{% endblock %}
