{% extends 'base.html.twig' %}

{% block title %}Profs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <div class="add-user-page">
        <h1>Ajouter un élève</h1>

        {{ form_start(formUser) }}

            <h3 class="h3 mb-3 font-weight-normal text-center">Veuillez remplir les champs :</h3>

            {{ form_row(formUser.username, {'label': 'Nom de l\'élève :', 
            'attr': {'placeholder': 'Ex : Moinet Nicolas'}}) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Ajouter l'élève</button>
            </div>

        {{ form_end(formUser) }}
    </div>
    
{% endblock %}
