{% extends 'base.html.twig' %}

{% block title %}Ma classe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block navigation %}
    <a class="logout-button d-none d-lg-block" href="{{ path('app_security_logout') }}">
        <img src="/img/logout.png" alt="logout"></img>
    </a>
{% endblock %}
