{% extends 'base.html.twig' %}

{% block title %}Profs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <h2>Bienvenue dans votre classe de </h2>

    <p>Voici la liste de vos élèves :</p>

    {% for user in users %}
        <p>{{ user.username }}</p>
    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('add_student') }}">Ajouter des élèves</a>
        </li>
    </ul>

{% endblock %}
