{% extends 'base.html.twig' %}

{% block title %}Profs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <div class="teacher-page">
        <h1>Bienvenue dans votre classe de {{ classroom.name }}</h1>
        <h2>Professeur : </h2>
        <div class="add-user-button">
            <a class="btn btn-success" 
                href="{{ path('add_user') }}">
                Ajouter un élève
            </a>
        </div>

        <p>Liste des élèves :</p>

        <table>
            <tr>
                <th>N°</th>
                <th>Élève</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    <a class="btn btn-success delete-user-button" href="">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
