{% extends '/teacher/base.html.twig' %}

{% block body %}

    <div class="teacher-password">
        <h1 class="">Modification du mot de passe</h1>
        
        <h3 class="text-center">Veuillez entrer votre nouveau mot de passe :</h3>

        {{ form_start(formPassword) }}

            {{ form_row(formPassword.password, {'label': 'Mot de passe',
            'attr': {'placeholder': 'Nouveau mot de passe'}}) }}

            {# {{ form_widget(formPassword.password, { 'attr': {'placeholder': 'Nouveau mot de passe'}}) }} #}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Valider</button>
            </div>

        {{ form_end(formPassword) }}

{% endblock %}
