a:hover {
    text-decoration: none;
}

a {
    font-size: 1.5em;
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 30px;
}

/* Dashboard */

.admin-dashboard h1 {
    margin-bottom: 40px;
}

.admin-dashboard .school-button {
    text-align: center;
    margin-bottom: 40px;
}

.admin-dashboard .school-button a {
    color: white;
}

.school-table {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    position: relative;
}

.school-table:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.school-table p,
.school-table a {
    font-size: 1.2em;
}

.school-table p {
    padding: 15px 15px 15px 25px;
    margin-bottom: 0;
}

.school-name a {
    color: white;
}

.card {
    color: black;
    margin-bottom: 20px;
}

.card ul {
    margin-bottom: 0;
}

.card li {
    list-style-type: initial;
}

.school-table .btn-success a {
    color: rgb(50, 52, 57);
}

.school-table .btn-secondary a {
    color: white;
}

.school-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.school-buttons .add-classroom-button {
    margin-right: 15px;
}

.school-buttons .add-user-button {
    margin-right: 15px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(255, 253, 148);
    border: rgb(255, 253, 148);
    /* Animation */
    transition: transform .2s;
}

.school-buttons .add-user-button:hover {
    background-color: rgb(253, 253, 79);
    transform: scale(1.1);
}

.school-buttons .btn-secondary {
    padding: 5px 15px 5px 15px;
    background-color: rgba(50, 52, 57, 0.8);
    border: rgb(50, 52, 57);
    /* Animation */
    transition: transform .2s;
}

.school-buttons .btn-secondary:hover {
    background-color: rgb(50, 52, 57);
    transform: scale(1.1);
}

.school-name {
    width: 30%;
}

.classrooms {
    display: flex;
    margin-left: 70px;
}

.flash-message {
    text-align: center;
    color: rgb(255, 253, 148);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Forms */

#school_name,
#school_address,
#school_email,
#teacher_username,
#teacher_classroom,
#teacher_password,
#classroom_name,
#classroom_year {
    font-size: 0.9em;
}

.submit-button {
    text-align: center;
}

.add-school-page .btn-success,
.add-teacher-page .btn-success,
.add-classroom-page .btn-success {
    font-size: 0.9em;
    margin-top: 15px
}

/* Admin-pages */

h2 {
    text-align: center;
    color: #18bc9c;
    margin: 45px 0 0 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.title img {
    width: 8%;
}