h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #18bc9c;
    margin: 45px 0 0 20px;
}

h3 {
    margin-top: 30px;
}

a:hover {
    text-decoration: none;
}

a {
    font-size: 1.5em;
}

li {
    list-style-type: none;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.title img {
    width: 8%;
}

/* Dashboard */

.logout-button {
    position: absolute;
    right: 30px;
    top: 50px;
}

.admin-dashboard h1 {
    margin-bottom: 40px;
}

.admin-dashboard .add-school-button {
    text-align: center;
    margin-bottom: 40px;
}

.admin-dashboard .add-school-button a {
    color: white;
    font-size: 1.2em;
}

.school-table {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    position: relative;
}

.school-table:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.school-table p,
.school-table a {
    font-size: 1.2em;
}

.school-table p {
    padding: 15px 15px 15px 25px;
    margin-bottom: 0;
}

.school-name a {
    color: white;
}

.card {
    color: black;
    margin-bottom: 20px;
}

.card ul,
.card p {
    margin-bottom: 0;
}

.card li {
    list-style-type: initial;
}

.school-buttons {
    position: absolute;
    right: 20px;
    top: 15px;
}

.school-buttons a {
    font-size: 1em;
}

.school-buttons a:not(:last-child) {
    margin-right: 15px;
}

.school-buttons .add-classroom-button {
    background-color: rgb(106, 108, 111) !important;
    border: rgb(106, 108, 111) !important;
    /* Animation */
    transition: transform .2s;
}

.school-buttons .add-classroom-button:hover {
    background-color: rgb(81, 83, 87) !important;
    transform: scale(1.1);
}

.school-buttons .add-user-button {
    color: rgb(50, 52, 57);
    background-color: rgb(255, 253, 148);
    border: rgb(255, 253, 148);
    /* Animation */
    transition: transform .2s;
}

.school-buttons .add-user-button:hover {
    background-color: rgb(253, 253, 79);
    transform: scale(1.1);
}

.school-buttons .delete-school-button {
    background-color: rgba(50, 52, 57, 0.8);
    border: rgb(50, 52, 57);
    /* Animation */
    transition: transform .2s;
}

.school-buttons .delete-school-button:hover {
    background-color: rgb(50, 52, 57);
    transform: scale(1.1);
}

.school-name {
    width: 30%;
}

.classrooms {
    display: flex;
    margin-left: 70px;
}

.flash-message {
    text-align: center;
    color: rgb(255, 253, 148);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Modal */

.modal {
    color: black;
}

.delete-school-button {
    font-size: 23px;
}

.modal-title {
    color: rgb(87, 185, 158);
    font-size: 30px;
    font-weight: bold;
}

.modal-footer .btn-secondary,
.modal-footer .btn-success {
    font-size: 0.9em;
}

.modal-footer .btn-secondary {
    margin-right: 10px;
}

/* Forms */

#school_name,
#school_address,
#school_email,
#teacher_username,
#teacher_classroom,
#teacher_password,
#user_username,
#classroom_name,
#classroom_year {
    font-size: 0.9em;
}

.submit-button {
    text-align: center;
}

.add-school-page .btn-success,
.add-teacher-page .btn-success,
.add-classroom-page .btn-success,
.add-user-page .btn-success {
    font-size: 0.9em;
    margin-top: 15px
}

/* Teacher-page */

.teacher-page h1 {
    font-size: 3em;
    color: rgb(255, 253, 148);
    margin: 45px 0 20px 0;
}

.teacher-page h2 {
    color: white;
    margin: 0 0 30px 0;
}

.teacher-page table {
    border-collapse: collapse;
    /* Les bordures du tableau seront collées (plus joli) */
}

/* .teacher-page .table-secondary,
.teacher-page .table-secondary>th,
.teacher-page .table-secondary>td {
    background-color: darkslategrey !important;
} */

.teacher-page td,
.teacher-page th {
    padding: 10px;
}

.teacher-page .delete-user-button {
    font-size: 0.9em;
    padding: 0 5px 0 5px;
}

.teacher-page .add-user-button {
    text-align: center;
    margin-bottom: 40px;
}

.teacher-page .add-user-button .btn-success {
    color: rgb(50, 52, 57);
    background-color: rgb(255, 253, 148);
    border: rgb(255, 253, 148);
}

.teacher-page .add-user-button a {
    font-size: 1.2em;
}

.teacher-page img {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 20%;
}