@font-face {
    font-family: 'whatever_it_takesregular';
    src: url('fonts/whatever_it_takes-webfont.eot');
    src: url('fonts/whatever_it_takes-webfont.eot?') format('embedded-opentype'),
        url('fonts/whatever_it_takes-webfont.woff') format('woff'),
        url('fonts/whatever_it_takes-webfont.ttf') format('truetype'),
        url('fonts/whatever_it_takes-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/img/chalkboard.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "whatever_it_takesregular", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
}

h1 {
    font-size: 5em;
}

/* Sticky-footer */

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -40px;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer,
.page-wrap:after {
    height: 40px;
}

footer {
    background-color: transparent;
}

footer p {
    margin-bottom: 0;
}