h1 {
    text-align: center;
}

.login-form {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

label {
    font-size: 1.5em;
}

#login_username,
#login_password {
    font-size: 0.9em;
}

.login-button {
    text-align: center;
}

.btn-success {
    font-size: 1em;
    margin-top: 15px
}