h2 {
    text-align: center;
    color: rgb(87, 185, 158);
    font-size: 3em;
    margin: 45px 0 40px 0;
}

.login-page {
    /* margin-top: 50vh; */
    /* poussé de la moitié de hauteur de viewport */
    /* transform: translateY(-50%); */
    /* tiré de la moitié de sa propre hauteur */
}

.login-form {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

label {
    /* font-size: 1.5em; */
    margin-top: 20px;
}

#inputUsername,
#inputPassword {
    font-size: 0.9em;
}

.login-button {
    text-align: center;
}

.btn-success {
    font-size: 0.9em;
    margin-top: 30px
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}