@media (max-width: 1199px) {

    .admin-dashboard .school-name,
    .candidatures-table p {
        text-align: center;
    }

    .teacher-candidatures .candidature-buttons {
        text-align: center;
    }

    .candidature-buttons {
        top: 0;
        padding-bottom: 20px;
        padding-left: 0;
    }

    .admin-dashboard .school-buttons {
        padding-bottom: 25px;
    }
}

@media (max-width: 1150px) {
    .candidat-img img {
        height: 250px;
    }
}

/* _____ Tablettes _____ */

@media (max-width: 991px) {

    h1 {
        font-size: 3.5em;
    }

    .admin-dashboard .site-link {
        padding-left: 0;
    }

    .teacher-dashboard h2 {
        margin: 0;
        padding-bottom: 20px;
    }

    .teacher-dashboard .teacher-buttons a {
        width: 60%;
    }

    .login-page h2 {
        font-size: 2.5em;
    }

    .home-page img,
    .calendar-page img,
    .candidat-img {
        display: none;
    }

    .admin-dashboard .add-school-button {
        margin-bottom: 20px;
    }

    .admin-dashboard .logout-link {
        margin-bottom: 10px;
    }

    .add-teacher-page img,
    .add-classroom-page img {
        display: none;
    }

    .add-teacher-page h2,
    .add-classroom-page h2 {
        margin: 0;
        margin-top: 30px;
    }

    .add-classroom-page .classroom {
        display: initial;
    }

    .add-classroom-page .classroom .form-group {
        width: initial;
    }
}

/* _____ Smartphones _____ */

@media (max-width: 767px) {

    h1,
    .teacher-dashboard h1,
    .teacher-candidatures h1,
    .teacher-password h1 {
        font-size: 2em;
    }

    .admin-dashboard .links {
        font-size: 0.9em;
    }

    .admin-dashboard .site-link {
        margin-left: 15px;
    }

    .admin-dashboard .logout-link {
        padding-top: 3px;
    }

    .teacher-candidatures h2 {
        font-size: 1.5em;
    }

    .teacher-password h3 {
        margin-top: 0;
    }

    .teacher-password form {
        width: 100%;
    }

    .teacher-dashboard .teacher-buttons a {
        width: 100%;
        margin-bottom: 10px;
    }

    .login-page h2 {
        font-size: 2em;
        padding-bottom: 0;
    }

    .login-page .login-form {
        width: initial;
    }

    .home-page .presentation,
    .about-page .presentation,
    .about-page .end,
    .calendar-page .dates {
        font-size: 1.3em;
    }

    .candidatures-page .btn-success {
        margin-top: 30px;
    }

    .create-page .name {
        flex-direction: column;
    }

    .create-page .name .form-group {
        width: 100%;
    }

    .admin-dashboard h1,
    .add-teacher-page h1,
    .add-classroom-page h1 {
        padding-top: 20px;
    }

    .admin-dashboard .logout-link {
        font-size: 0.9em;
        margin-right: 10px;
    }

    .admin-dashboard .schools-table,
    .teacher-candidatures .candidatures-table {
        margin-right: 10px;
        margin-left: 10px;
    }

    .admin-dashboard li {
        flex-direction: column;
    }

    .admin-dashboard li p {
        text-align: center;
        padding-bottom: 10px;
    }

    .admin-dashboard .card p {
        text-align: center;
    }

    .admin-dashboard li a {
        width: 100px;
        margin: auto;
    }

    .admin-dashboard .school-buttons,
    .teacher-candidatures .candidature-buttons {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .teacher-candidatures .candidature-buttons {
        padding-left: 15px;
    }

    .candidature-buttons button {
        margin-right: 0;
    }

    .admin-dashboard .school-buttons a,
    .teacher-candidatures .candidature-buttons a {
        margin-right: 0;
    }

    .admin-dashboard .school-buttons a:not(:last-child),
    .teacher-candidatures .candidature-buttons a:not(:last-child),
    .teacher-candidatures button {
        margin-bottom: 10px;
    }

    .admin-dashboard .classrooms li a {
        position: initial;
    }

    .admin-dashboard .card {
        margin-right: 10px;
        margin-left: 10px;
    }
}