@media (max-width: 1150px) {
    .candidat-img img {
        height: 250px;
    }
}

/* _____ Tablettes _____ */

@media (max-width: 991px) {
    h1 {
        font-size: 3.5em;
    }

    .home-page img,
    .calendar-page img,
    .candidat-img {
        display: none;
    }


}

/* _____ Smartphones _____ */

@media (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    .home-page .presentation,
    .about-page .presentation,
    .about-page .end,
    .calendar-page .dates {
        font-size: 1.3em;
    }

    .candidatures-page .btn-success {
        margin-top: 30px;

    }

}