body {
    padding-top: 91px;
}

/* Navbar */

.bg-primary {
    background-color: rgb(50, 52, 57) !important;
}

.navbar-brand,
.nav-link {
    font-size: 1.2em;
}

.navbar-brand {
    margin-right: 0;
    padding-left: 10px;
    padding-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    font-weight: bold;
}

.login-button {
    position: absolute;
    right: 40px;
}

.back-button {
    font-size: 0.9em;
    position: absolute;
    right: 30px;
    top: 21px;
}

/* Home-page */

.home-page h1 {
    color: rgb(255, 253, 148);
    margin-bottom: 40px;
}

.home-page .presentation,
.about-page .presentation,
.calendar-page .dates {
    font-size: 1.5em;
}

.flash-add-candidature {
    text-align: center;
    color: rgb(255, 253, 148);
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 60px;
}

.home-page img {
    position: absolute;
    right: 50px;
    bottom: 30px;
}

/* About-page */

.about-page h1 {
    color: rgb(105, 214, 243);
}

.about-page span {
    font-weight: bold;
    color: rgb(255, 253, 148);
}

.about-page h1,
.about-page .role,
.about-page .rights,
.about-page .obligations,
.about-page .forbidden {
    margin-bottom: 40px;
}

.about-page .end {
    color: rgb(105, 214, 243);
    font-size: 1.5em;
    margin-bottom: 40px;
}

/* Calendar-page */

.calendar-page h1,
.calendar-page span {
    color: rgb(235, 177, 122);
}

.calendar-page img {
    position: absolute;
    right: 60px;
    width: 20%;
}

/* Candidatures */

.index-page h1,
.create-page h1 {
    color: rgb(237, 182, 197);
    margin-bottom: 30px;
}

.index-page .instruction {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.index-page p {
    font-size: 1.5em;
}

.index-page .schools {
    display: flex;
    flex-wrap: wrap;
}

.index-page .candidat-img {
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.index-page .school-img {
    width: 22%;
    margin: 35px 0 10px 0;
}

.index-page a {
    color: rgb(118, 107, 86);
}

.index-page a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(149, 57, 124);
}

/* Animation */

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-right: auto;
    margin-left: auto;
    /* margin-right: 80px; */
    margin-bottom: 80px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /*Safari*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(149, 57, 124);
    font-weight: bold;
}

.flip-card-back {
    background-color: rgb(246, 223, 183);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#candidature_firstname,
#candidature_lastname,
#candidature_content {
    font-size: 0.9em;
}

.candidatures-page h1 {
    color: rgb(176, 140, 240);
}

.create-page h3 {
    margin-bottom: 40px;
}

.create-page .name {
    display: flex;
    justify-content: space-between;
}

.create-page .name .form-group {
    width: 48%;
}

.create-page .submit-button {
    text-align: center;
}

.candidatures-page .btn-success,
.create-page .btn-success {
    font-size: 1.2em;
    margin-top: 15px;
}

.candidatures-page .btn-success {
    margin-bottom: 50px;
}

.create-page .btn-success {
    margin-bottom: 30px;
}

.candidatures-page .thumbnails {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.candidatures-page .candidat {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 55px 40px;
    height: 240px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.candidatures-page .candidat:hover {
    background-color: rgb(235, 177, 122);
    ;
}

.candidatures-page .candidat a {
    color: black;
    text-decoration: none;
}

.candidatures-page .candidat a:hover {
    font-weight: bold;
}

.candidature-page h1,
.candidature-page h3,
.candidature-page .image {
    text-align: center;
}

.candidature-page h1 {
    color: rgb(87, 185, 158);
}

.candidature-page .image {
    margin: 30px 0 30px 0;
}

.candidature-page .image img {
    width: 100%;
}

.candidature-page .content p {
    padding-right: 20px;
}

.candidature-page .programm,
.candidature-page .comments {
    background-color: white;
}

.candidature-page .programm p,
.candidature-page .comments p {
    color: black;
}

.candidature-page .programm p {
    padding: 20px;
}

.candidature-page .comments,
.candidature-page .add-comment {
    margin-top: 40px;
}

.candidature-page .comments h3,
.candidature-page .add-comment h3 {
    background-color: rgb(87, 185, 158);
    padding: 10px;
    margin-bottom: 0;
}

.candidature-page .comment {
    position: relative;
}

.candidature-page .comments .title {
    padding: 20px 0 0 40px;
}

.candidature-page .comments .content {
    padding: 0 40px 0 80px;
    display: flex;
    justify-content: space-between;
}

.candidature-page .comments .comment:last-child .content {
    padding-bottom: 20px;
}

.candidature-page .comment:not(:first-of-type):before {
    content: "";
    border-bottom: 2px solid grey;
    position: absolute;
    left: 40px;
    width: calc(100% - 80px);
}

.candidature-page .delete-comment-button {
    font-size: 0.9em;
}

.candidature-page .comment:not(:last-child) .delete-comment-button {
    margin-bottom: 10px;
}

#comment_author,
#comment_content {
    font-size: 0.9em;
    border-radius: 0;
}

.candidature-page .read-more-button,
.candidature-page .submit-button {
    text-align: center;
}

.candidature-page .submit-button {
    margin-bottom: 30px;
}

.candidature-page .btn-success {
    font-size: 1em;
    margin-top: 30px
}