{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <div class="admin-dashboard">
        <h1>Espace Administration</h1>

        <div class="buttons">
            <button class="btn btn-lg btn-success">
                <a href="{{ path('add_school') }}">Ajouter une école</a>
            </button>
            <button class="btn btn-lg btn-success">
                <a href="{{ path('add_user') }}">Ajouter un professeur</a>
            </button>
        </div>

        {% for school in schools %}
            <div class="school-table">
                <p>École {{ school.name }}</p>
                <div class="school-buttons">
                    <button class="btn btn-lg btn-success">
                        <a href="">Ajouter une classe</a>
                    </button>
                    <button class="btn btn-lg btn-secondary">
                        <a href="{{ path('delete_school', {'id': school.id}) }}">Supprimer l'école</a>
                    </button>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}