{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <h1>Espace Administration</h1>

<ul>
    <li>
        <a href="{{ path('add_roles') }}">Ajouter un rôle</a>
    </li>
    <li>
        <a href="{{ path('add_users') }}">Ajouter un utilisateur</a>
    </li>
    <li>
        <a href="{{ path('add_schools') }}">Ajouter une école</a>
    </li>
    <li>
        <a href="{{ path('add_classrooms') }}">Ajouter une classe</a>
    </li>
</ul>

{% endblock %}
