<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Déléguéo{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css"
        integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/css/base.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navigation %}{% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer>
			<p>Copyright © Aurélie Lagniez 2020</p>
        </footer>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
