{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/error/404.css">
{% endblock %}

{% block body %}
<div class="error-404-message">
    <h1>Oups !</h1>

    <p>Il semble que vous êtes perdu...</p>

    <button class="btn btn-success">
        <a href="{{ path('app_user_home') }}">Revenir sur le site</a>
    </button>
</div>
{% endblock %}