{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/error/403.css">
{% endblock %}

{% block body %}
<div class="error-403-message">
    <h1>Stop !</h1>

    <p>Vous n'êtes pas autorisé à passer...</p>

    <button class="btn btn-danger">
        <a href="{{ path('app_home') }}">Revenir sur le site</a>
    </button>
</div>
{% endblock %}