{% extends '/user/base.html.twig' %}

{% block body %}

<div class="candidatures-page">
    <h1>La liste des candidats</h1>

    <div class="add-candidature-button text-center">
        <a class="btn btn-success" 
            href="{{ path('app_candidature_create', {'classroomId': classroom.id}) }}">
            Déposer une candidature
        </a>
    </div>

    <div class="row">
        <div class="thumbnails">
            {% for candidature in candidatures %}
                {% if candidature.isValid %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="candidat text-center">
                            <p>{{ candidature.firstname }}</p>
                            <a href="{{ path('app_candidature_show', {'id': candidature.id}) }}">
                                <img class="eye-img" src="/img/eye.png" alt="eye">
                            </a> 
                        </div>
                    </div>
                {% endif %}
                {% else %}
                    <p>Patience, il n'y a pas encore de candidat dans ta classe...</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}