{% extends '/user/base.html.twig' %}

{% block body %}

<div class="about-page">
    <h1>Le rôle du délégué</h1>

    <div class="presentation">
        <div class="role">
            <p  class="text-justify">Les délégués de classe sont élus par les élèves de leur classe.
                Ils sont chargés de les représenter, notamment à l'occasion des
                conseils de classe. Le délégué a donc <span>un rôle représentatif</span> :
                il représente sa classe.
            </p>
        </div>


        <div class="rights">
            <p>Le délégué a <span>le droit</span> :</p>
            <ul>
                <li>de consulter ses camarades lors des heures de vie de classse.</li>
                <li>d'être le porte-parole de ses camarades.</li>
                <li>de faire des compte-rendus des conseils de classe ou des différentes
                    réunions.</li>
                <li>de prendre la parole au conseil de classe.</li>
                <li>de proposer des projets.</li>
            </ul>
        </div>

        <div class="obligations">
            <p>Le délégué a <span>le devoir</span> :</p>
            <ul>
                <li>de représenter sa classse.</li>
                <li>d'assister aux conseils de classe ou aux réunions.</li>
                <li>d'être à l'écoute de tous ses camarades.</li>
                <li>de réfléchir à des projets.</li>
                <li>de respecter la confidentialité.</li>
                <li>de respecter le règlement intérieur comme tous les autres élèves.</li>
            </ul>
        </div>

        <div class="forbidden">
            <p>Le délégué <span>ne doit pas</span> :</p>
            <ul>
                <li>être agressif.</li>
                <li>utiliser un vocabulaire familier.</li>
                <li>déformer un propos.</li>
                <li>profiter de son statut de délégué sur les autres élèves.</li>
            </ul>
        </div>

        <p>Si tu as le profil pour être délégué de classe, alors dépose ta
            candidature !</p>
    </div>
</div>

{% endblock %}
