{% extends '/user/baseUser.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/calendar.css">
{% endblock %}

{% block body %}

    <h1>Le calendrier des élections</h1>
    
{% endblock %}