{% extends '/user/base.html.twig' %}

{% block body %}

<div class="calendar-page">
    <h1>Le calendrier des élections</h1>

    <div class="dates">
        <p>La campagne électorale aura lieu <ins>du 21 septembre au 2 octobre</ins>.<p>
        <p>Date des élections : <span>07/10/20</span><p>
    </div>

    <img src="img/table.png" alt="table"></img>
</div>

{% endblock %}