{% extends '/user/base.html.twig' %}

{% block body %}

<div class="candidatures-page">
    <h1>La liste des candidats</h1>

    <div class="add-candidature-button text-center">
        <a class="btn btn-success" 
            href="{{ path('app_create_candidature', {'classroomId': classroom.id}) }}">
            Déposer une candidature
        </a>
    </div>

    {% set validatedCandidatures = false %}

    <div class="thumbnails">
        {% for candidature in candidatures %}
            {% if candidature.isValid %}
                <div class="candidat text-center">
                    <p>{{ candidature.firstname }}</p>
                    <a href="{{ path('app_candidature', {'id': candidature.id}) }}">
                        <img class="eye-img" src="/img/eye.png" alt="eye">
                    </a> 
                    {% set validatedCandidatures = true %}
                </div>
            {% endif %}
        {% else %}
            <p>Patience, il n'y a pas encore de candidat dans ta classe...</p>
        {% endfor %}
    </div>


        {% if validatedCandidatures == false %}
            <p>Patience, il n'y a pas encore de candidat dans ta classe...</p>
        {% endif %}



</div>

{% endblock %}