{% extends '/user/baseUser.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/delegate.css">
{% endblock %}

{% block body %}

    <h1>Le rôle du délégué</h1>
    
{% endblock %}
