{% extends 'base.html.twig' %}

{% form_theme formLogin 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block body %}

    <h1>Bienvenue dans Delegueo !</h1>

    <div class="login-form">
        {{ form_start(formLogin) }}

        {{ form_row(formLogin.username, {'label': 'Nom d\'utilisateur', 
        'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}

        {{ form_row(formLogin.password, {'label': 'Mot de passe', 
        'attr': {'placeholder': 'Entrez votre mot de passe'}}) }}

        <div class="login-button">
            <button type="submit" class="btn btn-success">S'identifier</button>
        </div>

        {{ form_end(formLogin) }}
    </div>

{% endblock %}