{% extends '/user/base.html.twig' %}

{% block body %}

<div class="home-page">
    <h1>Déléguéo, quésaco ?</h1>
    <div class="presentation">
        <p>C'est parti ! La campagne électorale est lancée !</p>
        <p>Tu peux suivre le programme de chaque candidat et lui laisser des commentaires.</p>
        <p>Si toi aussi, tu veux devenir délégué, dépose ta candidature !</p>
    </div>

    {# flashbags #}
    {% for label, messages in app.flashes(['add-candidature']) %}
        {% for message in messages %}
            <div class="flash-message flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <img src="img/urn.png" alt="urn">
</div>

{% endblock %}