{% extends '/user/base.html.twig' %}

{% block body %}

<div class="create-page">
    <h1>Je dépose ma candidature</h1>

    <div class="image">
        <img src="/img/candidat.png" alt="candidat"></img>
    </div>

    <p class="instruction">Choisis ton école et ta classe :</p>
        
    <div class="schools">
        {% for school in schools %}
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="school-img" src="/img/school.png" alt"school"></img>
                        <p>École <br> {{ school.name }}</p>
                    </div>
                    <div class="flip-card-back">
                        {% for classroom in school.classroomsSorted %}
                            <div class="classrooms">
                                <p>
                                    <a href="{{ path('app_form_candidature', {'classroomId': classroom.id}) }}">Classe de {{ classroom.name }}</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}